/* ============================================= */
/*              Variables                        */
/* ============================================= */

/* Colors */
$color-first: #777;
$color-second: #58e1c1;
$color-third: #51ddfc;
$color-fourth: #927bc1;
$color-fifth: #fd7856;
$color-sixth: #e4757a;
$color-seventh: #63cc82;


/* Media Queries */
$breakpoint: 768px;

